{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "description": "ARM applications",
        "title": "ApplicationClient",
        "version": "2018-06-01",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/resources/resource-manager/Microsoft.Solutions/stable/2018-06-01/managedapplications.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "resources-managedapplications",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.Solutions/applications": {
            "get": {
                "description": "Gets all the applications within a subscription.",
                "operationId": "Applications_ListBySubscription",
                "parameters": [
                    {
                        "description": "The API version to use for this operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the target subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - Returns an array of applications.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "List of managed applications.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URL to use for getting the next set of results.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "The array of managed applications.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "allOf": [
                                                            {
                                                                "description": "Resource information.",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Resource ID",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "location": {
                                                                        "description": "Resource location",
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "Resource name",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "tags": {
                                                                        "additionalProperties": {
                                                                            "type": "string"
                                                                        },
                                                                        "description": "Resource tags",
                                                                        "type": "object"
                                                                    },
                                                                    "type": {
                                                                        "description": "Resource type",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "x-ms-azure-resource": true,
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "Resource information.",
                                                        "properties": {
                                                            "identity": {
                                                                "description": "The identity of the resource.",
                                                                "properties": {
                                                                    "principalId": {
                                                                        "description": "The principal ID of resource identity.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "tenantId": {
                                                                        "description": "The tenant ID of resource.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "description": "The identity type.",
                                                                        "enum": [
                                                                            "SystemAssigned"
                                                                        ],
                                                                        "type": "string",
                                                                        "x-ms-enum": {
                                                                            "modelAsString": false,
                                                                            "name": "ResourceIdentityType"
                                                                        }
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "managedBy": {
                                                                "description": "ID of the resource that manages this resource.",
                                                                "type": "string"
                                                            },
                                                            "sku": {
                                                                "description": "The SKU of the resource.",
                                                                "properties": {
                                                                    "capacity": {
                                                                        "description": "The SKU capacity.",
                                                                        "format": "int32",
                                                                        "type": "integer"
                                                                    },
                                                                    "family": {
                                                                        "description": "The SKU family.",
                                                                        "type": "string"
                                                                    },
                                                                    "model": {
                                                                        "description": "The SKU model.",
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "The SKU name.",
                                                                        "type": "string"
                                                                    },
                                                                    "size": {
                                                                        "description": "The SKU size.",
                                                                        "type": "string"
                                                                    },
                                                                    "tier": {
                                                                        "description": "The SKU tier.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "name"
                                                                ],
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "Information about managed application.",
                                                "properties": {
                                                    "kind": {
                                                        "description": "The kind of the managed application. Allowed values are MarketPlace and ServiceCatalog.",
                                                        "pattern": "^[-\\w\\._,\\(\\)]+$",
                                                        "type": "string"
                                                    },
                                                    "plan": {
                                                        "description": "The plan information.",
                                                        "properties": {
                                                            "name": {
                                                                "description": "The plan name.",
                                                                "type": "string"
                                                            },
                                                            "product": {
                                                                "description": "The product code.",
                                                                "type": "string"
                                                            },
                                                            "promotionCode": {
                                                                "description": "The promotion code.",
                                                                "type": "string"
                                                            },
                                                            "publisher": {
                                                                "description": "The publisher ID.",
                                                                "type": "string"
                                                            },
                                                            "version": {
                                                                "description": "The plan's version.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "publisher",
                                                            "product",
                                                            "version"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "properties": {
                                                        "description": "The managed application properties.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "applicationDefinitionId": {
                                                                "description": "The fully qualified path of managed application definition Id.",
                                                                "type": "string"
                                                            },
                                                            "managedResourceGroupId": {
                                                                "description": "The managed resource group Id.",
                                                                "type": "string"
                                                            },
                                                            "outputs": {
                                                                "description": "Name and value pairs that define the managed application outputs.",
                                                                "readOnly": true,
                                                                "type": "object"
                                                            },
                                                            "parameters": {
                                                                "description": "Name and value pairs that define the managed application parameters. It can be a JObject or a well formed JSON string.",
                                                                "type": "object"
                                                            },
                                                            "provisioningState": {
                                                                "description": "The managed application provisioning state.",
                                                                "readOnly": true,
                                                                "enum": [
                                                                    "Accepted",
                                                                    "Running",
                                                                    "Ready",
                                                                    "Creating",
                                                                    "Created",
                                                                    "Deleting",
                                                                    "Deleted",
                                                                    "Canceled",
                                                                    "Failed",
                                                                    "Succeeded",
                                                                    "Updating"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "ProvisioningState"
                                                                }
                                                            }
                                                        },
                                                        "required": [
                                                            "managedResourceGroupId"
                                                        ]
                                                    }
                                                },
                                                "required": [
                                                    "properties",
                                                    "kind"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response indicates managed application is not able to process the incoming request. The reason is provided in the error message.",
                                    "properties": {
                                        "errorCode": {
                                            "description": "Error code.",
                                            "type": "string"
                                        },
                                        "errorMessage": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        },
                                        "httpStatus": {
                                            "description": "Http status code.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Applications"
                ],
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applicationDefinitions": {
            "get": {
                "description": "Lists the managed application definitions in a resource group.",
                "operationId": "ApplicationDefinitions_ListByResourceGroup",
                "parameters": [
                    {
                        "description": "The name of the resource group. The name is case insensitive.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90,
                            "pattern": "^[-\\w\\._\\(\\)]+$"
                        }
                    },
                    {
                        "description": "The API version to use for this operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the target subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - Returns an array of managed application definitions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "List of managed application definitions.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The URL to use for getting the next set of results.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "The array of managed application definitions.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "allOf": [
                                                            {
                                                                "description": "Resource information.",
                                                                "properties": {
                                                                    "id": {
                                                                        "description": "Resource ID",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "location": {
                                                                        "description": "Resource location",
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "Resource name",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "tags": {
                                                                        "additionalProperties": {
                                                                            "type": "string"
                                                                        },
                                                                        "description": "Resource tags",
                                                                        "type": "object"
                                                                    },
                                                                    "type": {
                                                                        "description": "Resource type",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "x-ms-azure-resource": true,
                                                                "type": "object"
                                                            }
                                                        ],
                                                        "description": "Resource information.",
                                                        "properties": {
                                                            "identity": {
                                                                "description": "The identity of the resource.",
                                                                "properties": {
                                                                    "principalId": {
                                                                        "description": "The principal ID of resource identity.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "tenantId": {
                                                                        "description": "The tenant ID of resource.",
                                                                        "readOnly": true,
                                                                        "type": "string"
                                                                    },
                                                                    "type": {
                                                                        "description": "The identity type.",
                                                                        "enum": [
                                                                            "SystemAssigned"
                                                                        ],
                                                                        "type": "string",
                                                                        "x-ms-enum": {
                                                                            "modelAsString": false,
                                                                            "name": "ResourceIdentityType"
                                                                        }
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "managedBy": {
                                                                "description": "ID of the resource that manages this resource.",
                                                                "type": "string"
                                                            },
                                                            "sku": {
                                                                "description": "The SKU of the resource.",
                                                                "properties": {
                                                                    "capacity": {
                                                                        "description": "The SKU capacity.",
                                                                        "format": "int32",
                                                                        "type": "integer"
                                                                    },
                                                                    "family": {
                                                                        "description": "The SKU family.",
                                                                        "type": "string"
                                                                    },
                                                                    "model": {
                                                                        "description": "The SKU model.",
                                                                        "type": "string"
                                                                    },
                                                                    "name": {
                                                                        "description": "The SKU name.",
                                                                        "type": "string"
                                                                    },
                                                                    "size": {
                                                                        "description": "The SKU size.",
                                                                        "type": "string"
                                                                    },
                                                                    "tier": {
                                                                        "description": "The SKU tier.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "name"
                                                                ],
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "Information about managed application definition.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "The managed application definition properties.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "artifacts": {
                                                                "description": "The collection of managed application artifacts. The portal will use the files specified as artifacts to construct the user experience of creating a managed application from a managed application definition.",
                                                                "items": {
                                                                    "description": "Managed application artifact.",
                                                                    "properties": {
                                                                        "name": {
                                                                            "description": "The managed application artifact name.",
                                                                            "type": "string"
                                                                        },
                                                                        "type": {
                                                                            "description": "The managed application artifact type.",
                                                                            "enum": [
                                                                                "Template",
                                                                                "Custom"
                                                                            ],
                                                                            "type": "string",
                                                                            "x-ms-enum": {
                                                                                "modelAsString": false,
                                                                                "name": "ApplicationArtifactType"
                                                                            }
                                                                        },
                                                                        "uri": {
                                                                            "description": "The managed application artifact blob uri.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "authorizations": {
                                                                "description": "The managed application provider authorizations.",
                                                                "items": {
                                                                    "description": "The managed application provider authorization.",
                                                                    "properties": {
                                                                        "principalId": {
                                                                            "description": "The provider's principal identifier. This is the identity that the provider will use to call ARM to manage the managed application resources.",
                                                                            "type": "string"
                                                                        },
                                                                        "roleDefinitionId": {
                                                                            "description": "The provider's role definition identifier. This role will define all the permissions that the provider must have on the managed application's container resource group. This role definition cannot have permission to delete the resource group.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "principalId",
                                                                        "roleDefinitionId"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "createUiDefinition": {
                                                                "description": "The createUiDefinition json for the backing template with Microsoft.Solutions/applications resource. It can be a JObject or well-formed JSON string.",
                                                                "type": "object"
                                                            },
                                                            "description": {
                                                                "description": "The managed application definition description.",
                                                                "type": "string"
                                                            },
                                                            "displayName": {
                                                                "description": "The managed application definition display name.",
                                                                "type": "string"
                                                            },
                                                            "isEnabled": {
                                                                "description": "A value indicating whether the package is enabled or not.",
                                                                "type": "string"
                                                            },
                                                            "lockLevel": {
                                                                "description": "The managed application lock level.",
                                                                "enum": [
                                                                    "CanNotDelete",
                                                                    "ReadOnly",
                                                                    "None"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": false,
                                                                    "name": "ApplicationLockLevel"
                                                                }
                                                            },
                                                            "mainTemplate": {
                                                                "description": "The inline main template json which has resources to be provisioned. It can be a JObject or well-formed JSON string.",
                                                                "type": "object"
                                                            },
                                                            "packageFileUri": {
                                                                "description": "The managed application definition package file Uri. Use this element",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "lockLevel",
                                                            "authorizations"
                                                        ]
                                                    }
                                                },
                                                "required": [
                                                    "properties"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response indicates managed application is not able to process the incoming request. The reason is provided in the error message.",
                                    "properties": {
                                        "errorCode": {
                                            "description": "Error code.",
                                            "type": "string"
                                        },
                                        "errorMessage": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        },
                                        "httpStatus": {
                                            "description": "Http status code.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "ApplicationDefinitions"
                ],
                "x-ms-examples": {
                    "List managed application definitions": {
                        "parameters": {
                            "api-version": "2018-06-01",
                            "resourceGroupName": "rg",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applicationDefinitions/myManagedApplicationDef",
                                            "identity": null,
                                            "location": "East US 2",
                                            "managedBy": null,
                                            "name": "myManagedApplicationDef",
                                            "properties": {
                                                "artifacts": [
                                                    {
                                                        "name": "CreateUiDefinition",
                                                        "type": "Custom",
                                                        "uri": "https://path/to/managedApplicationCreateUiDefinition.json"
                                                    },
                                                    {
                                                        "name": "ManagedApplicationResourceTemplate",
                                                        "type": "Template",
                                                        "uri": "https://path/to/mainTemplate.json"
                                                    }
                                                ],
                                                "authorizations": [
                                                    {
                                                        "principalId": "validprincipalguid",
                                                        "roleDefinitionId": "validroleguid"
                                                    }
                                                ],
                                                "description": "myManagedApplicationDef description",
                                                "displayName": "myManagedApplicationDef",
                                                "lockLevel": null,
                                                "packageFileUri": "https://path/to/packagezipfile"
                                            },
                                            "resourceGroup": "rg",
                                            "sku": null,
                                            "tags": null,
                                            "type": "Microsoft.Solutions/applicationDefinitions"
                                        },
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applicationDefinitions/myManagedApplicationDef2",
                                            "identity": null,
                                            "location": "West US",
                                            "managedBy": null,
                                            "name": "myManagedApplicationDef2",
                                            "properties": {
                                                "artifacts": [
                                                    {
                                                        "name": "CreateUiDefinition",
                                                        "type": "Custom",
                                                        "uri": "https://path/to/managedApplicationCreateUiDefinition.json"
                                                    },
                                                    {
                                                        "name": "ManagedApplicationResourceTemplate",
                                                        "type": "Template",
                                                        "uri": "https://path/to/mainTemplate.json"
                                                    }
                                                ],
                                                "authorizations": [
                                                    {
                                                        "principalId": "validprincipalguid",
                                                        "roleDefinitionId": "validroleguid"
                                                    }
                                                ],
                                                "description": "myManagedApplicationDef2 description",
                                                "displayName": "myManagedApplicationDef2",
                                                "lockLevel": null,
                                                "packageFileUri": "https://path/to/packagezipfile"
                                            },
                                            "resourceGroup": "rg",
                                            "sku": null,
                                            "tags": null,
                                            "type": "Microsoft.Solutions/applicationDefinitions"
                                        }
                                    ]
                                },
                                "headers": {}
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applicationDefinitions/{applicationDefinitionName}": {
            "delete": {
                "description": "Deletes the managed application definition.",
                "operationId": "ApplicationDefinitions_Delete",
                "parameters": [
                    {
                        "description": "The name of the resource group. The name is case insensitive.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90,
                            "pattern": "^[-\\w\\._\\(\\)]+$"
                        }
                    },
                    {
                        "description": "The name of the managed application definition to delete.",
                        "in": "path",
                        "name": "applicationDefinitionName",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 3,
                            "maxLength": 64
                        }
                    },
                    {
                        "description": "The API version to use for this operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the target subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "202": {
                        "description": "Accepted - Returns this status until the asynchronous operation has completed."
                    },
                    "204": {
                        "description": "NoContent"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response indicates managed application is not able to process the incoming request. The reason is provided in the error message.",
                                    "properties": {
                                        "errorCode": {
                                            "description": "Error code.",
                                            "type": "string"
                                        },
                                        "errorMessage": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        },
                                        "httpStatus": {
                                            "description": "Http status code.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "ApplicationDefinitions"
                ],
                "x-ms-long-running-operation": true
            },
            "get": {
                "description": "Gets the managed application definition.",
                "operationId": "ApplicationDefinitions_Get",
                "parameters": [
                    {
                        "description": "The name of the resource group. The name is case insensitive.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90,
                            "pattern": "^[-\\w\\._\\(\\)]+$"
                        }
                    },
                    {
                        "description": "The name of the managed application definition.",
                        "in": "path",
                        "name": "applicationDefinitionName",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 3,
                            "maxLength": 64
                        }
                    },
                    {
                        "description": "The API version to use for this operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the target subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - Returns the managed application definition.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "Resource information.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Resource ID",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "location": {
                                                            "description": "Resource location",
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "Resource name",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "tags": {
                                                            "additionalProperties": {
                                                                "type": "string"
                                                            },
                                                            "description": "Resource tags",
                                                            "type": "object"
                                                        },
                                                        "type": {
                                                            "description": "Resource type",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "x-ms-azure-resource": true,
                                                    "type": "object"
                                                }
                                            ],
                                            "description": "Resource information.",
                                            "properties": {
                                                "identity": {
                                                    "description": "The identity of the resource.",
                                                    "properties": {
                                                        "principalId": {
                                                            "description": "The principal ID of resource identity.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "tenantId": {
                                                            "description": "The tenant ID of resource.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "The identity type.",
                                                            "enum": [
                                                                "SystemAssigned"
                                                            ],
                                                            "type": "string",
                                                            "x-ms-enum": {
                                                                "modelAsString": false,
                                                                "name": "ResourceIdentityType"
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "managedBy": {
                                                    "description": "ID of the resource that manages this resource.",
                                                    "type": "string"
                                                },
                                                "sku": {
                                                    "description": "The SKU of the resource.",
                                                    "properties": {
                                                        "capacity": {
                                                            "description": "The SKU capacity.",
                                                            "format": "int32",
                                                            "type": "integer"
                                                        },
                                                        "family": {
                                                            "description": "The SKU family.",
                                                            "type": "string"
                                                        },
                                                        "model": {
                                                            "description": "The SKU model.",
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "The SKU name.",
                                                            "type": "string"
                                                        },
                                                        "size": {
                                                            "description": "The SKU size.",
                                                            "type": "string"
                                                        },
                                                        "tier": {
                                                            "description": "The SKU tier.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "name"
                                                    ],
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ],
                                    "description": "Information about managed application definition.",
                                    "properties": {
                                        "properties": {
                                            "description": "The managed application definition properties.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "artifacts": {
                                                    "description": "The collection of managed application artifacts. The portal will use the files specified as artifacts to construct the user experience of creating a managed application from a managed application definition.",
                                                    "items": {
                                                        "description": "Managed application artifact.",
                                                        "properties": {
                                                            "name": {
                                                                "description": "The managed application artifact name.",
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "description": "The managed application artifact type.",
                                                                "enum": [
                                                                    "Template",
                                                                    "Custom"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": false,
                                                                    "name": "ApplicationArtifactType"
                                                                }
                                                            },
                                                            "uri": {
                                                                "description": "The managed application artifact blob uri.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "authorizations": {
                                                    "description": "The managed application provider authorizations.",
                                                    "items": {
                                                        "description": "The managed application provider authorization.",
                                                        "properties": {
                                                            "principalId": {
                                                                "description": "The provider's principal identifier. This is the identity that the provider will use to call ARM to manage the managed application resources.",
                                                                "type": "string"
                                                            },
                                                            "roleDefinitionId": {
                                                                "description": "The provider's role definition identifier. This role will define all the permissions that the provider must have on the managed application's container resource group. This role definition cannot have permission to delete the resource group.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "principalId",
                                                            "roleDefinitionId"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "createUiDefinition": {
                                                    "description": "The createUiDefinition json for the backing template with Microsoft.Solutions/applications resource. It can be a JObject or well-formed JSON string.",
                                                    "type": "object"
                                                },
                                                "description": {
                                                    "description": "The managed application definition description.",
                                                    "type": "string"
                                                },
                                                "displayName": {
                                                    "description": "The managed application definition display name.",
                                                    "type": "string"
                                                },
                                                "isEnabled": {
                                                    "description": "A value indicating whether the package is enabled or not.",
                                                    "type": "string"
                                                },
                                                "lockLevel": {
                                                    "description": "The managed application lock level.",
                                                    "enum": [
                                                        "CanNotDelete",
                                                        "ReadOnly",
                                                        "None"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": false,
                                                        "name": "ApplicationLockLevel"
                                                    }
                                                },
                                                "mainTemplate": {
                                                    "description": "The inline main template json which has resources to be provisioned. It can be a JObject or well-formed JSON string.",
                                                    "type": "object"
                                                },
                                                "packageFileUri": {
                                                    "description": "The managed application definition package file Uri. Use this element",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "lockLevel",
                                                "authorizations"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "properties"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response indicates managed application is not able to process the incoming request. The reason is provided in the error message.",
                                    "properties": {
                                        "errorCode": {
                                            "description": "Error code.",
                                            "type": "string"
                                        },
                                        "errorMessage": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        },
                                        "httpStatus": {
                                            "description": "Http status code.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "ApplicationDefinitions"
                ],
                "x-ms-examples": {
                    "Get managed application definition": {
                        "parameters": {
                            "api-version": "2018-06-01",
                            "managedApplicationName": "myManagedApplicationDef",
                            "resourceGroupName": "rg",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Solutions/applicationDefinitions/myManagedApplicationDef",
                                    "identity": null,
                                    "location": "East US 2",
                                    "managedBy": null,
                                    "name": "myManagedApplicationDef",
                                    "properties": {
                                        "artifacts": [
                                            {
                                                "name": "CreateUiDefinition",
                                                "type": "Custom",
                                                "uri": "https://path/to/managedApplicationCreateUiDefinition.json"
                                            },
                                            {
                                                "name": "ManagedApplicationResourceTemplate",
                                                "type": "Template",
                                                "uri": "https://path/to/mainTemplate.json"
                                            }
                                        ],
                                        "authorizations": [
                                            {
                                                "principalId": "validprincipalguid",
                                                "roleDefinitionId": "validroleguid"
                                            }
                                        ],
                                        "description": "myManagedApplicationDef description",
                                        "displayName": "myManagedApplicationDef",
                                        "lockLevel": null,
                                        "packageFileUri": "https://path/to/packagezipfile"
                                    },
                                    "resourceGroup": "rg",
                                    "sku": null,
                                    "tags": null,
                                    "type": "Microsoft.Solutions/applicationDefinitions"
                                },
                                "headers": {}
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Creates a new managed application definition.",
                "operationId": "ApplicationDefinitions_CreateOrUpdate",
                "parameters": [
                    {
                        "description": "The name of the resource group. The name is case insensitive.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90,
                            "pattern": "^[-\\w\\._\\(\\)]+$"
                        }
                    },
                    {
                        "description": "The name of the managed application definition.",
                        "in": "path",
                        "name": "applicationDefinitionName",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "minLength": 3,
                            "maxLength": 64
                        }
                    },
                    {
                        "description": "The API version to use for this operation.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The ID of the target subscription.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - Returns information about the managed application definition, including provisioning status.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "Resource information.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Resource ID",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "location": {
                                                            "description": "Resource location",
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "Resource name",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "tags": {
                                                            "additionalProperties": {
                                                                "type": "string"
                                                            },
                                                            "description": "Resource tags",
                                                            "type": "object"
                                                        },
                                                        "type": {
                                                            "description": "Resource type",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "x-ms-azure-resource": true,
                                                    "type": "object"
                                                }
                                            ],
                                            "description": "Resource information.",
                                            "properties": {
                                                "identity": {
                                                    "description": "The identity of the resource.",
                                                    "properties": {
                                                        "principalId": {
                                                            "description": "The principal ID of resource identity.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "tenantId": {
                                                            "description": "The tenant ID of resource.",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "description": "The identity type.",
                                                            "enum": [
                                                                "SystemAssigned"
                                                            ],
                                                            "type": "string",
                                                            "x-ms-enum": {
                                                                "modelAsString": false,
                                                                "name": "ResourceIdentityType"
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "managedBy": {
                                                    "description": "ID of the resource that manages this resource.",
                                                    "type": "string"
                                                },
                                                "sku": {
                                                    "description": "The SKU of the resource.",
                                                    "properties": {
                                                        "capacity": {
                                                            "description": "The SKU capacity.",
                                                            "format": "int32",
                                                            "type": "integer"
                                                        },
                                                        "family": {
                                                            "description": "The SKU family.",
                                                            "type": "string"
                                                        },
                                                        "model": {
                                                            "description": "The SKU model.",
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "The SKU name.",
                                                            "type": "string"
                                                        },
                                                        "size": {
                                                            "description": "The SKU size.",
                                                            "type": "string"
                                                        },
                                                        "tier": {
                                                            "description": "The SKU tier.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "name"
                                                    ],
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ],
                                    "description": "Information about managed application definition.",
                                    "properties": {
                                        "properties": {
                                            "description": "The managed application definition properties.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "artifacts": {
                                                    "description": "The collection of managed application artifacts. The portal will use the files specified as artifacts to construct the user experience of creating a managed application from a managed application definition.",
                                                    "items": {
                                                        "description": "Managed application artifact.",
                                                        "properties": {
                                                            "name": {
                                                                "description": "The managed application artifact name.",
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "description": "The managed application artifact type.",
                                                                "enum": [
                                                                    "Template",
                                                                    "Custom"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": false,
                                                                    "name": "ApplicationArtifactType"
                                                                }
                                                            },
                                                            "uri": {
                                                                "description": "The managed application artifact blob uri.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "authorizations": {
                                                    "description": "The managed application provider authorizations.",
                                                    "items": {
                                                        "description": "The managed application provider authorization.",
                                                        "properties": {
                                                            "principalId": {
                                                                "description": "The provider's principal identifier. This is the identity that the provider will use to call ARM to manage the managed application resources.",
                                                                "type": "string"
                                                            },
                                                            "roleDefinitionId": {
                                                                "description": "The provider's role definition identifier. This role will define all the permissions that the provider must have on the managed application's container resource group. This role definition cannot have permission to delete the resource group.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "principalId",
                                                            "roleDefinitionId"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "createUiDefinition": {
                                                    "description": "The createUiDefinition json for the backing template with Microsoft.Solutions/applications resource. It can be a JObject or well-formed JSON string.",
                                                    "type": "object"
                                                },
                                                "description": {
                                                    "description": "The managed application definition description.",
                                                    "type": "string"
                                                },
                                                "displayName": {
                                                    "description": "The managed application definition display name.",
                                                    "type": "string"
                                                },
                                                "isEnabled": {
                                                    "description": "A value indicating whether the package is enabled or not.",
                                                    "type": "string"
                                                },
                                                "lockLevel": {
                                                    "description": "The managed application lock level.",
                                                    "enum": [
                                                        "CanNotDelete",
                                                        "ReadOnly",
                                                        "None"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": false,
                                                        "name": "ApplicationLockLevel"
                                                    }
                                                },
                                                "mainTemplate": {
                                                    "description": "The inline main template json which has resources to be provisioned. It can be a JObject or well-formed JSON string.",
                                                    "type": "object"
                                                },
                                                "packageFileUri": {
                                                    "description": "The managed application definition package file Uri. Use this element",
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "lockLevel",
                                                "authorizations"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "properties"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "201": {
                        "description": "Created - Returns information about the managed application definition, including provisioning status.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "allOf": [
                                                {
                                                    "description": "Resource information.",
                                                    "properties": {
                                                        "id": {
                                                            "description": "Resource ID",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "location": {
                                                            "description": "Resource location",
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "description": "Resource name",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        },
                                                        "tags": {
                                                            "additionalProperties": {
                                                                "type": "string"
                                                            },
                                                            "description": "Resource tags",
                                                            "type": "object"
                                                        },
                                                        "type": {
                                                            "description": "Resource type",
                                                            "readOnly": true,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "x-ms-azure-resource": true,
                                                    "type": "object"
                                                }
                                            ],
                                            "description": "Resource information.",
                                            "properties": {
                                                "identity": {
                                                    "description": "The identity of the resource.",
                                                    "properties": {
                                                        "principalId": {
[...]
